@using Starwars.Core.Negocio
@model List<Producto>
@*

*@
@{
}

<h1>Products v1</h1>

Cantidad: <strong>@Model.Count()</strong>

<br />



<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.ProductoId</td>
                <td><abbr title="ProductId=@p.ProductoId">@p.Nombre</abbr></td>
            </tr>
        }
        
    </tbody>
</table>