<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Starwars.Apps.WinFormsApp.Properties.Settings.StarwarsConnectionString"
            connectionString="Persist Security Info=True;Initial Catalog=CursoNETWeb;Data Source=.; Integrated Security=True;TrustServerCertificate=True;" />
    </connectionStrings>
</configuration>