@using Starwars.Core.Entities
@* @model IEnumerable<Starwars.Core.Entities.Jedi> *@
@model Starwars.Apps.WebAppMvc.Models.ResultadoPaginadoViewModel<Jedi>
@{
    //ViewData["Title"] = "Jedi
    ViewData["Title"] = Model.Titulo;
    }

<h1>Index</h1>


@foreach(var jedi in Model.Items)
{
    <div>
        <h4>@jedi.FirstName</h4>
        @*  <a href="/jedi/detail/@jedi.JediId">Ir al Detalle v1</a> *@
        
        @Html.ActionLink("Ir al Detalle v2", "Details", "Jedi", new { Id = jedi.JediId })
        <p>JediId: @jedi.JediId</p>
    </div>
})

