p {
    background-color: fuchsia;
}

#🚀 {
    background-color: blueviolet;
}

.fondo-verde{
    background-color: forestgreen;
}

.fondo-rojo{
    background-color: red;
}

.text-grande{
    font-size: 25px;
}