@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a href="/usuario/cursonetweb">Demo TP6 /usuario/cursonetweb</a>
<br />
<a href="/redireccion/index/cursonetweb">Demo TP6 /redireccion/index/cursonetweb</a>
