@{
    ViewData["Title"] = "Home Page";
}

<partial name="Components/TitleComponent.cshtml" />

<div class="row">
    <partial name="Components/Component3.cshtml" />
</div>

<div class="row">
    <partial name="Components/Component4.cshtml" />
</div>



@* 
@await Html.PartialAsync("Components/Component2.cshtml") 
*@